

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0a1a2f, #0f243d);
    font-family: "Orbitron", sans-serif;
    overflow: hidden;
}

button {
    padding: 15px 35px;
    font-size: 22px;
    border: none;
    border-radius: 14px;
    background: #1e90ff;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
    font-family: "Orbitron", sans-serif;
}

button:hover {
    background: #187bdb;
    transform: scale(1.05);
}



#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.6s ease;
}

#menu h1 {
    font-size: 52px;
    color: #66ccff;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

#helmet-preview {
    width: 350px;
    height: 350px;
    margin-bottom: 25px;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #0a1a2f, #0f243d);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease;
}

#loading-screen.visible {
    opacity: 1;
    pointer-events: all;
}

#loading-screen.fade-out {
    opacity: 0;
    pointer-events: none;
}

#loading-screen h1 {
    font-size: 52px;
    color: #66ccff;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

#progress-container {
    width: 60%;
    height: 22px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid #66ccff;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background: #1e90ff;
    transition: width 0.1s linear;
}

#loading-percent {
    margin-top: 12px;
    font-size: 20px;
    color: #66ccff;
    letter-spacing: 3px;
}


#ui-panel {
    position: fixed;
    top: 20px;
    left: 20px;
    background: rgba(0, 255, 255, 0.1);
    border: 4px solid #00ffff;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    backdrop-filter: blur(6px);
    font-family: 'Orbitron', sans-serif;
    color: #00ffff;
}

#ui-panel h2 {
    margin-top: 0;
    text-align: center;
    letter-spacing: 2px;
}

#ui-panel label {
    margin-top: 15px;
    display: block;
    font-size: 14px;
}

#selectedPartLabel {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.8;
}

#ui-panel select,
#ui-panel input[type="color"],
#ui-panel button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background: #001f2f;
    color: #00ffff;
    border: 1px solid #00ffff;
    border-radius: 6px;
    font-family: 'Orbitron', sans-serif;
}

#resetBtn {
    background: #ff0044;
    color: white;
}

#resetBtn:hover {
    background: #ff3366;
}


.dropdown {
    position: relative;
    width: 100%;
}

.dropdown-selected {
    padding: 8px;
    background: #001f2f;
    border: 1px solid #00ffff;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #001f2f;
    border: 1px solid #00ffff;
    border-radius: 6px;
    display: none;
    z-index: 10;
}

.mat-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    cursor: pointer;
}

.mat-option:hover {
    background: rgba(0, 255, 255, 0.2);
}

.mat-thumb {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    object-fit: cover;
    border: 1px solid #00ffff;
    box-shadow: 0 0 4px rgba(0, 255, 255, 0.4);
}



#template-panel {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(0, 255, 255, 0.1);
    border: 4px solid #00ffff;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    backdrop-filter: blur(6px);
    font-family: 'Orbitron', sans-serif;
    color: #00ffff;
}

#template-panel h3 {
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
}

.template-btn {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    background: #001f2f;
    border: 1px solid #00ffff;
    border-radius: 6px;
    color: #00ffff;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Orbitron', sans-serif;
}

.template-btn:hover {
    background: rgba(0, 255, 255, 0.2);
}



#transform-panel {
    position: fixed;
    top: 260px; 
    right: 20px;
    background: rgba(0, 255, 255, 0.1);
    border: 4px solid #00ffff;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    backdrop-filter: blur(6px);
    font-family: 'Orbitron', sans-serif;
    color: #00ffff;
}

#transform-panel h3 {
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
}

#transform-panel label {
    margin-top: 10px;
    display: block;
    font-size: 14px;
}

#transform-panel input[type="range"] {
    width: 100%;
    margin-top: 6px;
}

.draggable {
    position: fixed;
    cursor: grab;
}

.draggable:active {
    cursor: grabbing;
}

